---
---

@import "{{ site.theme }}";
.wrapper {
    width: 860px;
    margin: 0 auto;
}

header {
    width:210px;
    float:left;
    position:fixed;
    -webkit-font-smoothing:subpixel-antialiased;
    margin: 2px auto;
  }

img {
    border-radius: 50%;
    overflow: hidden;
    max-width:90%;
}

section {
    width:680px;
    float:right;
    padding-bottom:50px;
  }